In [2]:
# Donwload The Data From Kaggle Website
# Ref --->>>    https://www.kaggle.com/c/m5-forecasting-accuracy/data

#!wget --header="Host: storage.googleapis.com" --header="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.150 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header="Accept-Language: en-US,en;q=0.9,hi;q=0.8" --header="Referer: https://www.kaggle.com/" "https://storage.googleapis.com/kaggle-competitions-data/kaggle-v2/18599/1236839/bundle/archive.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1613616406&Signature=ATkmpM8nN%2FZLIkXZrolncObSXrVNOynpJysya8LzvNIQM4arr0pkY1iWDj7OzRmM4oLW4rgYTNYLPtOE7rLkWRnVC81IyriF031zSj5o%2BtQuJwLW7qaKV34edxt%2FlcS5DKHhYkbP2atJeg%2F%2F7RoZ5HWOGT2xYJYlEVXOUWQZuaLsRZoZrbTup5AZD5fYjweaRgCACU4jB3KxngAYlVUF10PEYDF8dusTHcw7ChmbPtM7vgdeGYd4GRb57GE0yyOJLdWVocFtr4OqrMCfoYwQ87D2ZBVphxanqLriNHe84857BGEx21CE8AqODDDPLUa4M%2FmtnI82Cojg3FCvyb21HA%3D%3D&response-content-disposition=attachment%3B+filename%3Dm5-forecasting-accuracy.zip" -c -O 'm5-forecasting-accuracy.zip'

In [4]:
# Unzip the data

#!unzip  m5-forecasting-accuracy.zip

In [5]:
# import the Library

import pandas as pd

In [6]:
# Read The Price Data

prices = pd.read_csv('sell_prices.csv')

In [7]:
# Sort Data Based on Certain Columns
prices = prices.sort_values(by=['item_id','store_id','wm_yr_wk'])

prices.head(5)

       store_id      item_id  wm_yr_wk  sell_price
368746     CA_1  FOODS_1_001     11101         2.0
368747     CA_1  FOODS_1_001     11102         2.0
368748     CA_1  FOODS_1_001     11103         2.0
368749     CA_1  FOODS_1_001     11104         2.0
368750     CA_1  FOODS_1_001     11105         2.0

 <font color='green'>**Product Weekly Price Information We Have.**

In [8]:
prices.shape

(6841121, 4)

In [9]:
# Price Differnce Between Weeks,Months and Two Months

for win in [2, 4, 8]:
    prices['price_diffrence_{}'.format(win)] = prices[["store_id","item_id","sell_price"]].groupby(
        ["store_id","item_id"])["sell_price"].transform(lambda x : x.rolling(win).mean())
    prices['price_diffrence_{}'.format(win)] = ((prices['sell_price'] - prices['price_diffrence_{}'.format(win)])/prices['sell_price']).round(3)

In [10]:
prices.head()

       store_id      item_id  ...  price_diffrence_4  price_diffrence_8
368746     CA_1  FOODS_1_001  ...                NaN                NaN
368747     CA_1  FOODS_1_001  ...                NaN                NaN
368748     CA_1  FOODS_1_001  ...                NaN                NaN
368749     CA_1  FOODS_1_001  ...                0.0                NaN
368750     CA_1  FOODS_1_001  ...                0.0                NaN

[5 rows x 7 columns]

In [13]:
prices.dtypes

store_id              object
item_id               object
wm_yr_wk               int64
sell_price           float64
price_diffrence_2    float64
price_diffrence_4    float64
price_diffrence_8    float64
dtype: object

In [11]:
# Save All The Data in Google Drive

from google.colab import  drive
drive.mount('/drive')
prices.to_pickle('/drive/My Drive/Case_Study1/Price_Data_Preprocessing_1.pkl')

Mounted at /drive