In [2]:
# Donwload The Data From Kaggle Website
# Ref --->>>    https://www.kaggle.com/c/m5-forecasting-accuracy/data

#!wget --header="Host: storage.googleapis.com" --header="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.150 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header="Accept-Language: en-US,en;q=0.9,hi;q=0.8" --header="Referer: https://www.kaggle.com/" "https://storage.googleapis.com/kaggle-competitions-data/kaggle-v2/18599/1236839/bundle/archive.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1613622463&Signature=eqFY9tnRbkbvpINqUeI6B9i8ivWTrgRJ0N0%2BgsZYHV8hHbcPolEFOhdyc47NHm%2F9Z%2FKiqWyOuX7D6uS%2F0hAplMJl7Xzok8Wy5BxnSBFzaH7%2F3UuzC61t%2FnFRJ9NroJuWGQ4x1ISDSlV5zmw%2ByUmb71mJHUOL8mjADQZzhahPR85jJ5YTnSAAEtbgZN9kFr3O6QYM8jDWs2%2BbCWejSJpVHcS8pT1a0hUL%2F3PY9hY8OyQrIsCvrx%2FUPAgjh9Bq8AvWu6F58Y3zpeXPrjJvlaPAFi664I7hu98Tq31iXfQxACsbsvRamI1zVCFGx4RvOCGentloYMHYDDNBWNTwNVy1ag%3D%3D&response-content-disposition=attachment%3B+filename%3Dm5-forecasting-accuracy.zip" -c -O 'm5-forecasting-accuracy.zip'

In [4]:
# Unzip the data

#!unzip  m5-forecasting-accuracy.zip

In [91]:
# import the Library

import pandas as pd
import numpy as np

In [92]:
# Read the Calander Data

cal = pd.read_csv('calendar.csv')

In [107]:
cal.tail()

            date  wm_yr_wk    weekday  ...  snap_CA  snap_TX  snap_WI
1964  2016-06-15     11620  Wednesday  ...        0        1        1
1965  2016-06-16     11620   Thursday  ...        0        0        0
1966  2016-06-17     11620     Friday  ...        0        0        0
1967  2016-06-18     11621   Saturday  ...        0        0        0
1968  2016-06-19     11621     Sunday  ...        0        0        0

[5 rows x 14 columns]

In [94]:
cal.shape

(1969, 14)

In [95]:
# You can Remove Also,Later Part i didn't Use

x1 = cal['event_name_1'].copy()
x2 = cal['event_name_2'].copy()

 <font color='green'>**Task-1.
 I only Take Festiwal which Falls into Cross Validation And Test Data.**

In [96]:
# All Days in Cross Validation And Test Data

event_day = ['d_{}'.format(c) for c in list(np.arange(1910,1970))]
event_day[-5:]

['d_1965', 'd_1966', 'd_1967', 'd_1968', 'd_1969']

In [97]:
# Event1 in event_day

event1_fest = cal[cal['d'].isin(event_day)]['event_name_1'].unique().tolist()
event1_fest

[nan,
 'Pesach End',
 'OrthodoxEaster',
 'Cinco De Mayo',
 "Mother's day",
 'MemorialDay',
 'NBAFinalsStart',
 'Ramadan starts',
 'NBAFinalsEnd']

In [98]:
# Event2 in event_day

event2_fest = cal[cal['d'].isin(event_day)]['event_name_2'].unique().tolist()
event2_fest

[nan, "Father's day"]

In [99]:
# Combine Both Events

events = event1_fest+event2_fest
events

[nan,
 'Pesach End',
 'OrthodoxEaster',
 'Cinco De Mayo',
 "Mother's day",
 'MemorialDay',
 'NBAFinalsStart',
 'Ramadan starts',
 'NBAFinalsEnd',
 nan,
 "Father's day"]

In [100]:
# Do Some Formatting

aal_fes = ['event_name_1_{}'.format(c) for c in events]+['event_name_2_{}'.format(c) for c in events]
aal_fes[0:5]

['event_name_1_nan',
 'event_name_1_Pesach End',
 'event_name_1_OrthodoxEaster',
 'event_name_1_Cinco De Mayo',
 "event_name_1_Mother's day"]

In [101]:
# ref --->>   https://stackoverflow.com/questions/36631163/what-are-the-pros-and-cons-between-get-dummies-pandas-and-onehotencoder-sciki4

#A. OneHotEncoder cannot process string values directly. If your nominal features are strings, then you need to first map them into integers.
#B. pandas.get_dummies is kind of the opposite. By default, it only converts string columns into one-hot representation, unless columns are specified.

calendar = pd.concat([cal, pd.get_dummies(cal[['event_name_1','event_name_2']])], axis=1)
calendar = calendar.drop(['event_name_1','event_name_2'], axis=1)
calendar.head()

         date  wm_yr_wk  ... event_name_2_Father's day  event_name_2_OrthodoxEaster
0  2011-01-29     11101  ...                         0                            0
1  2011-01-30     11101  ...                         0                            0
2  2011-01-31     11101  ...                         0                            0
3  2011-02-01     11101  ...                         0                            0
4  2011-02-02     11101  ...                         0                            0

[5 rows x 46 columns]

In [102]:
# Events in Cross Validation And Test DataSet

events_Present_in_df = [c for c in calendar.columns if c in aal_fes]
events_Present_in_df

['event_name_1_Cinco De Mayo',
 "event_name_1_Father's day",
 'event_name_1_MemorialDay',
 "event_name_1_Mother's day",
 'event_name_1_NBAFinalsEnd',
 'event_name_1_NBAFinalsStart',
 'event_name_1_OrthodoxEaster',
 'event_name_1_Pesach End',
 'event_name_1_Ramadan starts',
 'event_name_2_Cinco De Mayo',
 "event_name_2_Father's day",
 'event_name_2_OrthodoxEaster']

In [103]:
calendar.columns

Index(['date', 'wm_yr_wk', 'weekday', 'wday', 'month', 'year', 'd',
       'event_type_1', 'event_type_2', 'snap_CA', 'snap_TX', 'snap_WI',
       'event_name_1_Chanukah End', 'event_name_1_Christmas',
       'event_name_1_Cinco De Mayo', 'event_name_1_ColumbusDay',
       'event_name_1_Easter', 'event_name_1_Eid al-Fitr',
       'event_name_1_EidAlAdha', 'event_name_1_Father's day',
       'event_name_1_Halloween', 'event_name_1_IndependenceDay',
       'event_name_1_LaborDay', 'event_name_1_LentStart',
       'event_name_1_LentWeek2', 'event_name_1_MartinLutherKingDay',
       'event_name_1_MemorialDay', 'event_name_1_Mother's day',
       'event_name_1_NBAFinalsEnd', 'event_name_1_NBAFinalsStart',
       'event_name_1_NewYear', 'event_name_1_OrthodoxChristmas',
       'event_name_1_OrthodoxEaster', 'event_name_1_Pesach End',
       'event_name_1_PresidentsDay', 'event_name_1_Purim End',
       'event_name_1_Ramadan starts', 'event_name_1_StPatricksDay',
       'event_name_1_SuperBowl', 'event_name_1_Thanksgiving',
       'event_name_1_ValentinesDay', 'event_name_1_VeteransDay',
       'event_name_2_Cinco De Mayo', 'event_name_2_Easter',
       'event_name_2_Father's day', 'event_name_2_OrthodoxEaster'],
      dtype='object')

In [104]:
calendar = calendar[['date', 'wm_yr_wk', 'weekday', 'wday', 'month', 'year', 'd',
       'event_type_1', 'event_type_2',
       'snap_CA', 'snap_TX', 'snap_WI'] + events_Present_in_df]

 <font color='green'>**Task-2.
Give Weight to Each Festivals.**

In [105]:
# Give Last 30 Days Festivle Importance

for col in [c for c in calendar.columns.tolist() if 'event_name' in c]:
    days_event = np.where(calendar[col] == 1)[0].tolist()
    calendar[col] = calendar['d']

    dict_days_event = {}
    for d in days_event:
        for i in range(0, 30):
            dict_days_event['d_'+str(d-i)] = 30-i

    calendar[col] = calendar[col].map(dict_days_event).fillna(0)

In [106]:
calendar.tail()

            date  ...  event_name_2_OrthodoxEaster
1964  2016-06-15  ...                          0.0
1965  2016-06-16  ...                          0.0
1966  2016-06-17  ...                          0.0
1967  2016-06-18  ...                          0.0
1968  2016-06-19  ...                          0.0

[5 rows x 24 columns]

In [108]:
calendar['Event_1'] = x1
calendar['Event_2'] = x2

In [110]:
calendar.tail()

            date  wm_yr_wk  ...       Event_1       Event_2
1964  2016-06-15     11620  ...           NaN           NaN
1965  2016-06-16     11620  ...           NaN           NaN
1966  2016-06-17     11620  ...           NaN           NaN
1967  2016-06-18     11621  ...           NaN           NaN
1968  2016-06-19     11621  ...  NBAFinalsEnd  Father's day

[5 rows x 26 columns]

In [111]:
# Save All The Data in Google Drive

from google.colab import  drive
drive.mount('/drive')
calendar.to_pickle('/drive/My Drive/Case_Study1/Calander_Data_Preprocessing_2.pkl')

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).