In [2]:
# Doanload The Kaggle Data

#!wget --header="Host: storage.googleapis.com" --header="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.190 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header="Accept-Language: en-US,en;q=0.9,hi;q=0.8" --header="Referer: https://www.kaggle.com/" "https://storage.googleapis.com/kaggle-competitions-data/kaggle-v2/18599/1236839/bundle/archive.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1615367641&Signature=lK%2FoRC3BSaiJmWmZcczeJ68Ug7Pw23UgLB1QQvMs3VDMevBS57EIA1ykGglZPToInIWxJqyezSCX0zmkdwizJb7LNGrd62p4n6PgkG%2FXoLj9eTZjXQE8uoqK4pyC0wKqrnvB%2BB6r06i6j4YyHckvlmn3yYx0cwJuDrp4H%2F81FBlvEjCkCpbxOzFcXtjcnqzuqF%2FVKOCBgJD8XKfVDb2csViBt5VB1mW6vix2kU9YFnSzy8tklmITZ9sfm5j055GeXNVhLCZvV4J97IpRHbxaNjUfoj3d5EueIpPEpJ%2BcwQO3UU593nVjlOUTda3OJqvnZ91frVDqvrpGW5VBNeGapg%3D%3D&response-content-disposition=attachment%3B+filename%3Dm5-forecasting-accuracy.zip" -c -O 'm5-forecasting-accuracy.zip'

In [ ]:
# Refrence Notebook

#https://www.kaggle.com/qcw171717/naive-baseline/

In [4]:
#!unzip m5-forecasting-accuracy.zip

In [5]:
# import sum Libaries

import numpy as np
import pandas as pd
from tqdm import tqdm

In [85]:
df = pd.read_csv('sales_train_evaluation.csv')
df.head()

                              id        item_id  ... d_1940 d_1941
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...      0      1
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...      0      1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...      2      6
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...      1      0

[5 rows x 1947 columns]

In [86]:
IDS = df['id']

In [7]:
df.shape

(30490, 1947)

In [8]:
price_df = pd.read_csv("sell_prices.csv")
price_df.head()

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [9]:
price_df.shape

(6841121, 4)

In [10]:
cal_df = pd.read_csv("calendar.csv")
cal_df.head()

         date  wm_yr_wk    weekday  ...  snap_CA  snap_TX  snap_WI
0  2011-01-29     11101   Saturday  ...        0        0        0
1  2011-01-30     11101     Sunday  ...        0        0        0
2  2011-01-31     11101     Monday  ...        0        0        0
3  2011-02-01     11101    Tuesday  ...        1        1        0
4  2011-02-02     11101  Wednesday  ...        1        0        1

[5 rows x 14 columns]

In [11]:
cal_df.shape

(1969, 14)

In [12]:
# Get integer value in d column    ex d_1 , d_2   ---->>>   1  ,1

cal_df["d"]=cal_df["d"].apply(lambda x: int(x.split("_")[1]))
cal_df.head()

         date  wm_yr_wk    weekday  ...  snap_CA  snap_TX  snap_WI
0  2011-01-29     11101   Saturday  ...        0        0        0
1  2011-01-30     11101     Sunday  ...        0        0        0
2  2011-01-31     11101     Monday  ...        0        0        0
3  2011-02-01     11101    Tuesday  ...        1        1        0
4  2011-02-02     11101  Wednesday  ...        1        0        1

[5 rows x 14 columns]

In [13]:
price_df["id"] = price_df["item_id"] + "_" + price_df["store_id"] + "_evaluation"
price_df.head()

  store_id        item_id  wm_yr_wk  sell_price                             id
0     CA_1  HOBBIES_1_001     11325        9.58  HOBBIES_1_001_CA_1_evaluation
1     CA_1  HOBBIES_1_001     11326        9.58  HOBBIES_1_001_CA_1_evaluation
2     CA_1  HOBBIES_1_001     11327        8.26  HOBBIES_1_001_CA_1_evaluation
3     CA_1  HOBBIES_1_001     11328        8.26  HOBBIES_1_001_CA_1_evaluation
4     CA_1  HOBBIES_1_001     11329        8.26  HOBBIES_1_001_CA_1_evaluation

![image.png]()

### 1. Calculate Weight For Product-Store Level  **{Level- 12}**

In [14]:
for day in tqdm(range(1886, 1914)):
    # Get the Week Id of Particular Day
    wk_id = list(cal_df[cal_df["d"]==day]["wm_yr_wk"])[0]
    # Get All Price Information on that Paricular Day
    wk_price_df = price_df[price_df["wm_yr_wk"]==wk_id]
    # Merge Sell Price With Transaction data
    df = df.merge(wk_price_df[["sell_price", "id"]], on=["id"], how='inner')
    # Sales Revnue = Number of Product Sold * Product Price
    df["Sales_Revenue" + str(day)] = df["sell_price"] * df["d_" + str(day)]
    df.drop(columns=["sell_price"], inplace=True)

100%|██████████| 28/28 [00:08<00:00,  3.36it/s]

In [15]:
df.head()

                              id  ... Sales_Revenue1913
0  HOBBIES_1_001_CA_1_evaluation  ...              8.38
1  HOBBIES_1_002_CA_1_evaluation  ...              0.00
2  HOBBIES_1_003_CA_1_evaluation  ...              2.97
3  HOBBIES_1_004_CA_1_evaluation  ...              9.28
4  HOBBIES_1_005_CA_1_evaluation  ...             11.52

[5 rows x 1975 columns]

In [16]:
# Get 28 Days Total Revnue by Particular Product

df["dollar_sales"] = df[[c for c in df.columns if c.find("Sales_Revenue")==0]].sum(axis=1)
df.head()

                              id  ... dollar_sales
0  HOBBIES_1_001_CA_1_evaluation  ...       224.94
1  HOBBIES_1_002_CA_1_evaluation  ...         7.94
2  HOBBIES_1_003_CA_1_evaluation  ...        47.52
3  HOBBIES_1_004_CA_1_evaluation  ...       236.64
4  HOBBIES_1_005_CA_1_evaluation  ...       109.44

[5 rows x 1976 columns]

In [17]:
# Drop all the Revenues Columns

df.drop(columns=[c for c in df.columns if c.find("unit_sales")==0], inplace=True)

In [18]:
# Product Contribution in the Revenue

df["weight"] = df["dollar_sales"] / df["dollar_sales"].sum()
df.head()

                              id        item_id  ... dollar_sales    weight
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...       224.94  0.000060
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...         7.94  0.000002
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...        47.52  0.000013
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...       236.64  0.000063
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...       109.44  0.000029

[5 rows x 1977 columns]

In [19]:
df.drop(columns=["dollar_sales"], inplace=True)

In [20]:
df["weight"] /= 12

### 2. Forecasting Next 28 days Using Simple Moving Average

In [21]:
all_days_col = [h for h in df.columns if 'd_' in h]
print("First 5 values ",all_days_col[0:5])
print("Last 5 values ",all_days_col[-5:])

First 5 values  ['d_1', 'd_2', 'd_3', 'd_4', 'd_5']
Last 5 values  ['d_1937', 'd_1938', 'd_1939', 'd_1940', 'd_1941']

In [22]:
train_data = df[all_days_col[:1913]]
train_data.head()

   d_1  d_2  d_3  d_4  d_5  d_6  ...  d_1908  d_1909  d_1910  d_1911  d_1912  d_1913
0    0    0    0    0    0    0  ...       1       1       3       0       1       1
1    0    0    0    0    0    0  ...       0       1       0       0       0       0
2    0    0    0    0    0    0  ...       1       1       0       1       1       1
3    0    0    0    0    0    0  ...       1       0       1       3       7       2
4    0    0    0    0    0    0  ...       1       1       2       2       2       4

[5 rows x 1913 columns]

In [23]:
val_data = df[all_days_col[1913:]]
val_data.head()

   d_1914  d_1915  d_1916  d_1917  ...  d_1938  d_1939  d_1940  d_1941
0       0       0       0       2  ...       3       3       0       1
1       0       1       0       0  ...       0       0       0       0
2       0       0       1       1  ...       2       3       0       1
3       0       0       1       2  ...       3       0       2       6
4       1       0       2       3  ...       0       2       1       0

[5 rows x 28 columns]

In [24]:
def simple_Moving_Average(train_data,  forecast_days,window_Size):

    predictions = []
    for i in range(forecast_days):
        # All Data Avilabel in Trainin Data
        if i == 0:
            predictions.append(np.mean(train_data[train_data.columns[-window_Size:]].values, axis=1))
        if i < forecast_days and i > 0:
            predictions.append((np.sum(train_data[train_data.columns[-window_Size + i:]].values, axis=1) + \
                                  np.sum(predictions[:i], axis=0))/forecast_days)
            
    return predictions

In [25]:
forecast_days = 28
window_Size = 28
predictions = simple_Moving_Average(train_data, forecast_days, window_Size)

In [26]:
for d, i in enumerate(range(1914, 1942)):
    df['F_' + str(i)] = predictions[d]

In [27]:
df.head()

                              id        item_id  ...    F_1940    F_1941
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...  1.059403  1.061525
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...  0.053693  0.055610
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...  0.774079  0.766010
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...  2.301491  2.133687
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...  1.475258  1.456518

[5 rows x 2004 columns]

In [ ]:
# --->> Level 12 Ground Truth Vaulues And Forecasting Values we have.

### 3. Focus on Higher Level Aggregating

###### Level 1. Aggregation of Total

In [28]:
data = df[[a for a in df.columns if a.find("d_") == 0 or a.find("F_") == 0]]
# Get All Columns Sum
data = data.sum()
# Transpose the data
aggregated_df = pd.DataFrame(data).transpose()
aggregated_df

       d_1      d_2      d_3  ...        F_1939       F_1940        F_1941
0  32631.0  31749.0  23783.0  ...  43113.096527  43205.81426  43000.236198

[1 rows x 1969 columns]

In [29]:
aggregated_df["level"] = 1
aggregated_df["weight"] = 1/12  
aggregated_df

       d_1      d_2      d_3  ...        F_1941  level    weight
0  32631.0  31749.0  23783.0  ...  43000.236198      1  0.083333

[1 rows x 1971 columns]

In [ ]:
# we will Give Each Level Around 8.3% Weight

##### Level-2 To Level-11 Aggregation

In [30]:
aggregation_level = {2: ["state_id"], 
                     3: ["store_id"], 
                     4: ["cat_id"], 
                     5: ["dept_id"], 
                     6: ["state_id", "cat_id"], 
                     7: ["state_id", "dept_id"], 
                     8: ["store_id", "cat_id"], 
                     9: ["store_id", "dept_id"],
                     10: ["item_id"], 
                     11: ["item_id", "state_id"]}

In [31]:
columns = aggregated_df.columns 

for lev in aggregation_level:
    # Group by Based on Aggregation Level
    new_df = df.groupby(by=aggregation_level[lev]).sum().reset_index()
    # Add Level Column
    new_df["level"] = lev
    # Append your new DataFrame into old DataFrame
    aggregated_df = aggregated_df.append(new_df[columns])

In [32]:
aggregated_df

          d_1      d_2      d_3  ...        F_1941  level        weight
0     32631.0  31749.0  23783.0  ...  43000.236198      1  8.333333e-02
0     14195.0  13805.0  10108.0  ...  18379.112790      2  3.686428e-02
1      9438.0   9630.0   6778.0  ...  11217.070311      2  2.244138e-02
2      8998.0   8314.0   6897.0  ...  13404.053097      2  2.402767e-02
0      4337.0   4155.0   2816.0  ...   4669.153414      3  9.240690e-03
...       ...      ...      ...  ...           ...    ...           ...
9142      0.0      0.0      0.0  ...      0.000000     11  0.000000e+00
9143      0.0      0.0      0.0  ...      0.436204     11  5.255884e-07
9144      0.0      2.0      0.0  ...      0.694559     11  2.773346e-06
9145      2.0      1.0      0.0  ...      0.411112     11  1.848897e-06
9146      0.0      1.0      0.0  ...      0.098626     11  2.641282e-07

[12350 rows x 1971 columns]

In [33]:
print(df.shape[0]+aggregated_df.shape[0])

42840

In [ ]:
# For Each Level i have my Ground Truth Value And Forecasting value

### 4.  Calculalte RMSSE and WRMSSE

![image.png]()

In [34]:
h = 28       # Forecasting For 28 Days
n = 1913     # my Traning Data

In [35]:
def RMSSE(ground_truth, forecast, train_series):
    
    num = ((ground_truth - forecast)**2).sum(axis=1)
    den = 1/(n-1) * ((train_series[:, 1:] - train_series[:, :-1]) ** 2).sum(axis=1)
    rmsse = (1/h * num/den) ** 0.5

    return rmsse

In [36]:
# First 1913 Days Columns

train_series_cols = [c for c in df.columns if c.find("d_") == 0][:-28]
train_series_cols[-5:]

['d_1909', 'd_1910', 'd_1911', 'd_1912', 'd_1913']

In [37]:
# 28 Days Columns

ground_truth_cols = [c for c in df.columns if c.find("d_") == 0][-28:]
ground_truth_cols[-5:]

['d_1937', 'd_1938', 'd_1939', 'd_1940', 'd_1941']

In [38]:
# Forecasting Columns

forecast_cols = [c for c in df.columns if c.find("F_") == 0]
forecast_cols[-5:]

['F_1937', 'F_1938', 'F_1939', 'F_1940', 'F_1941']

In [39]:
# For Level 12 Calculate RMSSE

df["rmsse"] = RMSSE(np.array(df[ground_truth_cols]), 
                   np.array(df[forecast_cols]), np.array(df[train_series_cols]))

df.head()

                              id        item_id  ...    F_1941     rmsse
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...  1.061525  1.628969
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...  0.055610  0.717095
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...  0.766010  1.630139
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...  2.133687  0.678387
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...  1.456518  0.700044

[5 rows x 2005 columns]

In [40]:
# For Level 1 to 11 Calculate RMSSE

aggregated_df["rmsse"] = RMSSE(np.array(aggregated_df[ground_truth_cols]), 
                   np.array(aggregated_df[forecast_cols]), np.array(aggregated_df[train_series_cols]))

aggregated_df.head()

       d_1      d_2      d_3      d_4  ...        F_1941  level    weight     rmsse
0  32631.0  31749.0  23783.0  25412.0  ...  43000.236198      1  0.083333  1.124758
0  14195.0  13805.0  10108.0  11047.0  ...  18379.112790      2  0.036864  1.136477
1   9438.0   9630.0   6778.0   7381.0  ...  11217.070311      2  0.022441  0.938705
2   8998.0   8314.0   6897.0   6984.0  ...  13404.053097      2  0.024028  1.205195
0   4337.0   4155.0   2816.0   3051.0  ...   4669.153414      3  0.009241  1.051335

[5 rows x 1972 columns]

In [42]:
# Calculate WRMSSE

df["wrmsse"] = df["weight"] * df["rmsse"]
aggregated_df["wrmsse"] = aggregated_df["weight"] * aggregated_df["rmsse"]

In [43]:
df["wrmsse"].sum() + aggregated_df["wrmsse"].sum()

1.0970029012597868

**Prediction Part**

In [73]:
all_days_col = [h for h in df.columns if 'd_' in h]
print("First 5 values ",all_days_col[0:5])
print("Last 5 values ",all_days_col[-5:])

df = df[all_days_col]
df.head()

First 5 values  ['d_1', 'd_2', 'd_3', 'd_4', 'd_5']
Last 5 values  ['d_1965', 'd_1966', 'd_1967', 'd_1968', 'd_1969']

   d_1  d_2  d_3  d_4  d_5  d_6  ...  d_1964  d_1965  d_1966  d_1967  d_1968  d_1969
0    0    0    0    0    0    0  ...       0       0       0       0       0       0
1    0    0    0    0    0    0  ...       0       0       0       0       0       0
2    0    0    0    0    0    0  ...       0       0       0       0       0       0
3    0    0    0    0    0    0  ...       0       0       0       0       0       0
4    0    0    0    0    0    0  ...       0       0       0       0       0       0

[5 rows x 1969 columns]

In [74]:
# Add Test Data

for day in range(1942,1970):
  df['d_' + str(day)] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [75]:
df.head()

   d_1  d_2  d_3  d_4  d_5  d_6  ...  d_1964  d_1965  d_1966  d_1967  d_1968  d_1969
0    0    0    0    0    0    0  ...       0       0       0       0       0       0
1    0    0    0    0    0    0  ...       0       0       0       0       0       0
2    0    0    0    0    0    0  ...       0       0       0       0       0       0
3    0    0    0    0    0    0  ...       0       0       0       0       0       0
4    0    0    0    0    0    0  ...       0       0       0       0       0       0

[5 rows x 1969 columns]

In [76]:
all_days_col = [h for h in df.columns if 'd_' in h]
print("First 5 values ",all_days_col[0:5])
print("Last 5 values ",all_days_col[-5:])

df = df[all_days_col]
df.head()

First 5 values  ['d_1', 'd_2', 'd_3', 'd_4', 'd_5']
Last 5 values  ['d_1965', 'd_1966', 'd_1967', 'd_1968', 'd_1969']

   d_1  d_2  d_3  d_4  d_5  d_6  ...  d_1964  d_1965  d_1966  d_1967  d_1968  d_1969
0    0    0    0    0    0    0  ...       0       0       0       0       0       0
1    0    0    0    0    0    0  ...       0       0       0       0       0       0
2    0    0    0    0    0    0  ...       0       0       0       0       0       0
3    0    0    0    0    0    0  ...       0       0       0       0       0       0
4    0    0    0    0    0    0  ...       0       0       0       0       0       0

[5 rows x 1969 columns]

In [77]:
train_data = df[all_days_col[:1941]]
train_data.head()

   d_1  d_2  d_3  d_4  d_5  d_6  ...  d_1936  d_1937  d_1938  d_1939  d_1940  d_1941
0    0    0    0    0    0    0  ...       0       0       3       3       0       1
1    0    0    0    0    0    0  ...       1       0       0       0       0       0
2    0    0    0    0    0    0  ...       0       0       2       3       0       1
3    0    0    0    0    0    0  ...       0       1       3       0       2       6
4    0    0    0    0    0    0  ...       1       0       0       2       1       0

[5 rows x 1941 columns]

In [78]:
val_data = df[all_days_col[1941:]]
val_data.head()

   d_1942  d_1943  d_1944  d_1945  ...  d_1966  d_1967  d_1968  d_1969
0       0       0       0       0  ...       0       0       0       0
1       0       0       0       0  ...       0       0       0       0
2       0       0       0       0  ...       0       0       0       0
3       0       0       0       0  ...       0       0       0       0
4       0       0       0       0  ...       0       0       0       0

[5 rows x 28 columns]

In [79]:
def simple_Moving_Average(train_data,  forecast_days,window_Size):

    predictions = []
    for i in range(forecast_days):
        # All Data Avilabel in Trainin Data
        if i == 0:
            predictions.append(np.mean(train_data[train_data.columns[-window_Size:]].values, axis=1))
        if i < forecast_days and i > 0:
            predictions.append((np.sum(train_data[train_data.columns[-window_Size + i:]].values, axis=1) + \
                                  np.sum(predictions[:i], axis=0))/forecast_days)
            
    return predictions

In [80]:
forecast_days = 28
window_Size = 28
predictions = simple_Moving_Average(train_data, forecast_days, window_Size)

In [81]:
for d, i in enumerate(range(1942, 1970)):
    val_data['d_' + str(i)] = predictions[d]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [82]:
val_data

         d_1942    d_1943    d_1944  ...    d_1967    d_1968    d_1969
0      1.178571  1.220663  1.264258  ...  1.247455  1.184865  1.227181
1      0.250000  0.258929  0.232462  ...  0.257837  0.267045  0.276583
2      0.750000  0.776786  0.804528  ...  0.875309  0.799427  0.827978
3      1.750000  1.812500  1.877232  ...  1.896321  1.964047  1.962763
4      1.392857  1.406888  1.457134  ...  1.239134  1.211961  1.219531
...         ...       ...       ...  ...       ...       ...       ...
30485  0.642857  0.665816  0.689595  ...  0.673801  0.697865  0.687075
30486  0.285714  0.295918  0.270773  ...  0.239923  0.248491  0.221652
30487  0.785714  0.813776  0.842839  ...  0.863257  0.858373  0.889029
30488  1.321429  1.332908  1.273369  ...  1.291943  1.302369  1.313168
30489  1.250000  1.294643  1.340880  ...  1.686806  1.675621  1.556893

[30490 rows x 28 columns]

In [91]:
p1 = pd.concat([IDS, val_data], axis=1, sort=False)
p1

                                  id    d_1942  ...    d_1968    d_1969
0      HOBBIES_1_001_CA_1_evaluation  1.178571  ...  1.184865  1.227181
1      HOBBIES_1_002_CA_1_evaluation  0.250000  ...  0.267045  0.276583
2      HOBBIES_1_003_CA_1_evaluation  0.750000  ...  0.799427  0.827978
3      HOBBIES_1_004_CA_1_evaluation  1.750000  ...  1.964047  1.962763
4      HOBBIES_1_005_CA_1_evaluation  1.392857  ...  1.211961  1.219531
...                              ...       ...  ...       ...       ...
30485    FOODS_3_823_WI_3_evaluation  0.642857  ...  0.697865  0.687075
30486    FOODS_3_824_WI_3_evaluation  0.285714  ...  0.248491  0.221652
30487    FOODS_3_825_WI_3_evaluation  0.785714  ...  0.858373  0.889029
30488    FOODS_3_826_WI_3_evaluation  1.321429  ...  1.302369  1.313168
30489    FOODS_3_827_WI_3_evaluation  1.250000  ...  1.675621  1.556893

[30490 rows x 29 columns]

In [92]:
p2 = p1.copy()

p2["id"] = p1["id"].str.replace("evaluation$", "validation")
p2

                                  id    d_1942  ...    d_1968    d_1969
0      HOBBIES_1_001_CA_1_validation  1.178571  ...  1.184865  1.227181
1      HOBBIES_1_002_CA_1_validation  0.250000  ...  0.267045  0.276583
2      HOBBIES_1_003_CA_1_validation  0.750000  ...  0.799427  0.827978
3      HOBBIES_1_004_CA_1_validation  1.750000  ...  1.964047  1.962763
4      HOBBIES_1_005_CA_1_validation  1.392857  ...  1.211961  1.219531
...                              ...       ...  ...       ...       ...
30485    FOODS_3_823_WI_3_validation  0.642857  ...  0.697865  0.687075
30486    FOODS_3_824_WI_3_validation  0.285714  ...  0.248491  0.221652
30487    FOODS_3_825_WI_3_validation  0.785714  ...  0.858373  0.889029
30488    FOODS_3_826_WI_3_validation  1.321429  ...  1.302369  1.313168
30489    FOODS_3_827_WI_3_validation  1.250000  ...  1.675621  1.556893

[30490 rows x 29 columns]

In [93]:
p3 = pd.concat([p1, p2], axis=0, sort=False)
p3

                                  id    d_1942  ...    d_1968    d_1969
0      HOBBIES_1_001_CA_1_evaluation  1.178571  ...  1.184865  1.227181
1      HOBBIES_1_002_CA_1_evaluation  0.250000  ...  0.267045  0.276583
2      HOBBIES_1_003_CA_1_evaluation  0.750000  ...  0.799427  0.827978
3      HOBBIES_1_004_CA_1_evaluation  1.750000  ...  1.964047  1.962763
4      HOBBIES_1_005_CA_1_evaluation  1.392857  ...  1.211961  1.219531
...                              ...       ...  ...       ...       ...
30485    FOODS_3_823_WI_3_validation  0.642857  ...  0.697865  0.687075
30486    FOODS_3_824_WI_3_validation  0.285714  ...  0.248491  0.221652
30487    FOODS_3_825_WI_3_validation  0.785714  ...  0.858373  0.889029
30488    FOODS_3_826_WI_3_validation  1.321429  ...  1.302369  1.313168
30489    FOODS_3_827_WI_3_validation  1.250000  ...  1.675621  1.556893

[60980 rows x 29 columns]

In [94]:
p3.columns = ['id'] + ['F' + str(c) for c in np.arange(1,29,1)]

In [95]:
p3

                                  id        F1  ...       F27       F28
0      HOBBIES_1_001_CA_1_evaluation  1.178571  ...  1.184865  1.227181
1      HOBBIES_1_002_CA_1_evaluation  0.250000  ...  0.267045  0.276583
2      HOBBIES_1_003_CA_1_evaluation  0.750000  ...  0.799427  0.827978
3      HOBBIES_1_004_CA_1_evaluation  1.750000  ...  1.964047  1.962763
4      HOBBIES_1_005_CA_1_evaluation  1.392857  ...  1.211961  1.219531
...                              ...       ...  ...       ...       ...
30485    FOODS_3_823_WI_3_validation  0.642857  ...  0.697865  0.687075
30486    FOODS_3_824_WI_3_validation  0.285714  ...  0.248491  0.221652
30487    FOODS_3_825_WI_3_validation  0.785714  ...  0.858373  0.889029
30488    FOODS_3_826_WI_3_validation  1.321429  ...  1.302369  1.313168
30489    FOODS_3_827_WI_3_validation  1.250000  ...  1.675621  1.556893

[60980 rows x 29 columns]

In [96]:
p3.to_csv("Base_Model.csv",index=False)

![image.png]()

In [ ]:
# This Is Base Model,Less Score Then This is not Acceptable.