In [ ]:
# Read the Feature engineering DataSet

#!wget --header="Host: doc-0s-0c-docs.googleusercontent.com" --header="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.190 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header="Accept-Language: en-US,en;q=0.9,hi;q=0.8" --header="Cookie: AUTH_g6rouv7anedfrrf7ue0ns472lo11dqgi=03254098180734767806|1614742425000|cfjmbicf1q4767icnumc38udgo14vusd; AUTH_g6rouv7anedfrrf7ue0ns472lo11dqgi_nonce=295ef8iahte76" --header="Connection: keep-alive" "https://doc-0s-0c-docs.googleusercontent.com/docs/securesc/pblgkejb48lv4je87rr0ale25k6q65pa/am426bad5o7bj737hbqlbub7p7p2aevd/1614742725000/03254098180734767806/03254098180734767806/1eOWhua4r1ZVzvP1yuTnPXi_RbOcrbmjf?e=download&authuser=0&nonce=295ef8iahte76&user=03254098180734767806&hash=2uv1ibqha1luhi8r4daut94ncvngqvjs" -c -O 'Data_m5.pkl'

In [ ]:
# Import all The Library

import pandas as pd
import numpy as np
import lightgbm as lgb
from tqdm import tqdm
import joblib
import random

In [ ]:
# Read The Data

df_m = pd.read_pickle("Data_m5.pkl")

In [ ]:
# Size of DataFrame

df_m.shape

(27023821, 47)

In [ ]:
df_m.head()

                              id  item_id  dept_id  ...  week  quarter  mday
0  HOBBIES_1_001_CA_1_evaluation        0        0  ...    50        4    13
1  HOBBIES_1_002_CA_1_evaluation        1        0  ...    50        4    13
2  HOBBIES_1_003_CA_1_evaluation        2        0  ...    50        4    13
3  HOBBIES_1_004_CA_1_evaluation        3        0  ...    50        4    13
4  HOBBIES_1_005_CA_1_evaluation        4        0  ...    50        4    13

[5 rows x 47 columns]

In [ ]:
# Fill Zero Values

for c in [c for c in df_m.columns.tolist() if 'rm_diff_price_' in c]:
    df_m[c].fillna(0, inplace=True)

In [ ]:
# Get integer value in d column    ex d_1 , d_2   ---->>>   1  ,1

df_m['d'] = df_m['d'].apply(lambda a: a.split('_')[1]).astype(np.int16)

In [ ]:
# Training DataSet

df = df_m[df_m['d']<=1941]

In [ ]:
df.head()

                              id  item_id  dept_id  ...  week  quarter  mday
0  HOBBIES_1_001_CA_1_evaluation        0        0  ...    50        4    13
1  HOBBIES_1_002_CA_1_evaluation        1        0  ...    50        4    13
2  HOBBIES_1_003_CA_1_evaluation        2        0  ...    50        4    13
3  HOBBIES_1_004_CA_1_evaluation        3        0  ...    50        4    13
4  HOBBIES_1_005_CA_1_evaluation        4        0  ...    50        4    13

[5 rows x 47 columns]

In [ ]:
df.shape

(26170101, 47)

In [ ]:
# Categorical Feature 

cat_feats = (['item_id','store_id', 'cat_id', 'state_id','dept_id'] 
              + ["event_type_1", "event_type_2"]
              + ['wday', 'month', 'snap_CA', 'snap_TX', 'snap_WI'])

In [ ]:
# Columns i want to Remove

useless_cols = ["id", "date", "sales","d", "wm_yr_wk", "weekday", "sell_price",'event_name_1', 'event_name_2','Event_1','Event_2']

In [ ]:
train_cols = df.columns[~df.columns.isin(useless_cols)]

In [ ]:
# Chosse 500 Random Days For Cross Validation DataSet

days_val = random.choices(df['d'].unique().tolist(), k=500)

In [ ]:
# Training Data
X_train = df[df['d'].isin(days_val)==False][train_cols]
# Training Target Variable
y_train = df[df['d'].isin(days_val)==False]["sales"]

In [ ]:
# Cross Validation Data
X_val = df[df['d'].isin(days_val)==True][train_cols]
# Cross Validation Target Variable
y_val = df[df['d'].isin(days_val)==True]["sales"]

**Modeling Part**

In [ ]:
%%time

learning_rate1 = [0.09,.05,.15]
number_of_Leave = [32,16,8]
lambda_l2 = [0.1,0.2,0.3]
min_data_in_leaf1 = [50,30,20]





for kk in tqdm(range(3)):

    print("Prediction Number  Started ",kk)

    # Instilaize All Variables 
    lr1 = learning_rate1[kk]
    leave1 = number_of_Leave[kk]
    reg1 = lambda_l2[kk]
    leaf_data = min_data_in_leaf1[kk]

    params = {
        "objective" : "poisson",
        "metric" :"rmse",
        "learning_rate" : lr1,
        "sub_feature" : 0.9,
        "sub_row" : 0.75,
        "bagging_freq" : 1,
        "lambda_l2" : reg1,
        'verbosity': 1,
        'num_iterations' : 2000,
        'num_leaves': leave1,
        "min_data_in_leaf": leaf_data,
    }

    print("*"*50)
    print(params)
    print(" "*50)


    train_data = lgb.Dataset(X_train, label = y_train, categorical_feature=cat_feats)
    valid_data = lgb.Dataset(X_val, label = y_val, categorical_feature=cat_feats)

    m_lgb = lgb.train(params, train_data, valid_sets = [train_data, valid_data], 
                verbose_eval=20, early_stopping_rounds=30) 
    

    model_name = 'lgb'+'_Model_' +str(kk) +'.pkl'
    # save model
    joblib.dump(m_lgb, model_name)
    
    

    feature_imp = pd.DataFrame({'Value':m_lgb.feature_importance(),'Feature':X_train.columns})
    feature_imp = feature_imp.sort_values(by='Value', ascending=False).reset_index(drop=True)
    display(feature_imp.head(20))

    print("*"*50)
    print(" "*50)

  0%|          | 0/3 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:118: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/usr/local/lib/python3.7/dist-packages/lightgbm/basic.py:1205: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

Prediction Number  Started  0
**************************************************
{'objective': 'poisson', 'metric': 'rmse', 'learning_rate': 0.09, 'sub_feature': 0.9, 'sub_row': 0.75, 'bagging_freq': 1, 'lambda_l2': 0.1, 'verbosity': 1, 'num_iterations': 2000, 'num_leaves': 32, 'min_data_in_leaf': 50}

/usr/local/lib/python3.7/dist-packages/lightgbm/basic.py:762: UserWarning: categorical_feature in param dict is overridden.
  warnings.warn('categorical_feature in param dict is overridden.')

Training until validation scores don't improve for 30 rounds.
[20]	training's rmse: 2.50952	valid_1's rmse: 2.49352
[40]	training's rmse: 2.31439	valid_1's rmse: 2.30906
[60]	training's rmse: 2.27386	valid_1's rmse: 2.27328
[80]	training's rmse: 2.25998	valid_1's rmse: 2.26219
[100]	training's rmse: 2.24778	valid_1's rmse: 2.25254
[120]	training's rmse: 2.23421	valid_1's rmse: 2.24267
[140]	training's rmse: 2.22278	valid_1's rmse: 2.23453
[160]	training's rmse: 2.21207	valid_1's rmse: 2.22699
[180]	training's rmse: 2.20395	valid_1's rmse: 2.22092
[200]	training's rmse: 2.19588	valid_1's rmse: 2.21446
[220]	training's rmse: 2.18795	valid_1's rmse: 2.20845
[240]	training's rmse: 2.18084	valid_1's rmse: 2.20287
[260]	training's rmse: 2.1739	valid_1's rmse: 2.19805
[280]	training's rmse: 2.16808	valid_1's rmse: 2.19351
[300]	training's rmse: 2.1619	valid_1's rmse: 2.18906
[320]	training's rmse: 2.15602	valid_1's rmse: 2.18445
[340]	training's rmse: 2.1509	valid_1's rmse: 2.18154
[360]	training's rmse: 2.14425	valid_1's rmse: 2.17679
[380]	training's rmse: 2.14143	valid_1's rmse: 2.17501
[400]	training's rmse: 2.13567	valid_1's rmse: 2.17126
[420]	training's rmse: 2.13214	valid_1's rmse: 2.16913
[440]	training's rmse: 2.12712	valid_1's rmse: 2.16582
[460]	training's rmse: 2.12432	valid_1's rmse: 2.16393
[480]	training's rmse: 2.12033	valid_1's rmse: 2.16124
[500]	training's rmse: 2.11627	valid_1's rmse: 2.1589
[520]	training's rmse: 2.11267	valid_1's rmse: 2.15663
[540]	training's rmse: 2.10995	valid_1's rmse: 2.15506
[560]	training's rmse: 2.10726	valid_1's rmse: 2.15345
[580]	training's rmse: 2.10491	valid_1's rmse: 2.152
[600]	training's rmse: 2.10084	valid_1's rmse: 2.14969
[620]	training's rmse: 2.0984	valid_1's rmse: 2.1487
[640]	training's rmse: 2.09605	valid_1's rmse: 2.14765
[660]	training's rmse: 2.09291	valid_1's rmse: 2.14622
[680]	training's rmse: 2.09064	valid_1's rmse: 2.14526
[700]	training's rmse: 2.08744	valid_1's rmse: 2.1435
[720]	training's rmse: 2.08503	valid_1's rmse: 2.14238
[740]	training's rmse: 2.08353	valid_1's rmse: 2.14169
[760]	training's rmse: 2.08205	valid_1's rmse: 2.14102
[780]	training's rmse: 2.07972	valid_1's rmse: 2.14006
[800]	training's rmse: 2.07682	valid_1's rmse: 2.13845
[820]	training's rmse: 2.07422	valid_1's rmse: 2.13717
[840]	training's rmse: 2.07265	valid_1's rmse: 2.13641
[860]	training's rmse: 2.0706	valid_1's rmse: 2.13552
[880]	training's rmse: 2.06796	valid_1's rmse: 2.13429
[900]	training's rmse: 2.06549	valid_1's rmse: 2.13311
[920]	training's rmse: 2.06349	valid_1's rmse: 2.13233
[940]	training's rmse: 2.06162	valid_1's rmse: 2.1315
[960]	training's rmse: 2.05966	valid_1's rmse: 2.13068
[980]	training's rmse: 2.05677	valid_1's rmse: 2.12933
[1000]	training's rmse: 2.05548	valid_1's rmse: 2.12901
[1020]	training's rmse: 2.0541	valid_1's rmse: 2.12854
[1040]	training's rmse: 2.05244	valid_1's rmse: 2.12803
[1060]	training's rmse: 2.0503	valid_1's rmse: 2.12707
[1080]	training's rmse: 2.04893	valid_1's rmse: 2.12655
[1100]	training's rmse: 2.04737	valid_1's rmse: 2.12592
[1120]	training's rmse: 2.04631	valid_1's rmse: 2.12531
[1140]	training's rmse: 2.04446	valid_1's rmse: 2.12468
[1160]	training's rmse: 2.04271	valid_1's rmse: 2.12404
[1180]	training's rmse: 2.04145	valid_1's rmse: 2.12351
[1200]	training's rmse: 2.04019	valid_1's rmse: 2.12296
[1220]	training's rmse: 2.03891	valid_1's rmse: 2.12253
[1240]	training's rmse: 2.03734	valid_1's rmse: 2.12197
[1260]	training's rmse: 2.03605	valid_1's rmse: 2.12159
[1280]	training's rmse: 2.03421	valid_1's rmse: 2.12062
[1300]	training's rmse: 2.03296	valid_1's rmse: 2.12017
[1320]	training's rmse: 2.03204	valid_1's rmse: 2.11981
[1340]	training's rmse: 2.03083	valid_1's rmse: 2.11942
[1360]	training's rmse: 2.02989	valid_1's rmse: 2.11905
[1380]	training's rmse: 2.02864	valid_1's rmse: 2.11868
[1400]	training's rmse: 2.02764	valid_1's rmse: 2.11837
[1420]	training's rmse: 2.02667	valid_1's rmse: 2.11821
[1440]	training's rmse: 2.0255	valid_1's rmse: 2.11772
[1460]	training's rmse: 2.02458	valid_1's rmse: 2.1174
[1480]	training's rmse: 2.02394	valid_1's rmse: 2.11726
[1500]	training's rmse: 2.0226	valid_1's rmse: 2.11702
[1520]	training's rmse: 2.0217	valid_1's rmse: 2.11693
[1540]	training's rmse: 2.0203	valid_1's rmse: 2.11633
[1560]	training's rmse: 2.01852	valid_1's rmse: 2.11566
[1580]	training's rmse: 2.01777	valid_1's rmse: 2.11531
[1600]	training's rmse: 2.01696	valid_1's rmse: 2.11502
[1620]	training's rmse: 2.016	valid_1's rmse: 2.11474
[1640]	training's rmse: 2.01491	valid_1's rmse: 2.11423
[1660]	training's rmse: 2.01383	valid_1's rmse: 2.11387
[1680]	training's rmse: 2.01309	valid_1's rmse: 2.11368
[1700]	training's rmse: 2.01191	valid_1's rmse: 2.11339
[1720]	training's rmse: 2.01104	valid_1's rmse: 2.11306
[1740]	training's rmse: 2.01001	valid_1's rmse: 2.11274
[1760]	training's rmse: 2.00872	valid_1's rmse: 2.11236
[1780]	training's rmse: 2.00774	valid_1's rmse: 2.11211
[1800]	training's rmse: 2.00672	valid_1's rmse: 2.11155
[1820]	training's rmse: 2.00554	valid_1's rmse: 2.11105
[1840]	training's rmse: 2.00464	valid_1's rmse: 2.11075
[1860]	training's rmse: 2.00416	valid_1's rmse: 2.11057
[1880]	training's rmse: 2.00316	valid_1's rmse: 2.11033
[1900]	training's rmse: 2.00241	valid_1's rmse: 2.11002
[1920]	training's rmse: 2.00151	valid_1's rmse: 2.1098
[1940]	training's rmse: 2.00088	valid_1's rmse: 2.10962
[1980]	training's rmse: 1.99925	valid_1's rmse: 2.10934
[2000]	training's rmse: 1.99858	valid_1's rmse: 2.10918
Did not meet early stopping. Best iteration is:
[2000]	training's rmse: 1.99858	valid_1's rmse: 2.10918

    Value                   Feature
0   31045                   item_id
1    3473                     month
2    3419                 rmean_7_7
3    3145                rmean_7_28
4    2835                  store_id
5    2689               rmean_28_28
6    1987                rmean_28_7
7    1802                     lag_7
8    1740                      wday
9    1561                      mday
10   1472                      week
11   1333                    lag_28
12    886                   dept_id
13    634                      year
14    427                  state_id
15    377              event_type_1
16    306                 group_day
17    231                    cat_id
18    222         price_diffrence_8
19    210  event_name_1_MemorialDay

 33%|███▎      | 1/3 [1:06:05<2:12:11, 3965.82s/it]

**************************************************

Prediction Number  Started  1
**************************************************
{'objective': 'poisson', 'metric': 'rmse', 'learning_rate': 0.05, 'sub_feature': 0.9, 'sub_row': 0.75, 'bagging_freq': 1, 'lambda_l2': 0.2, 'verbosity': 1, 'num_iterations': 2000, 'num_leaves': 16, 'min_data_in_leaf': 30}

/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:118: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/usr/local/lib/python3.7/dist-packages/lightgbm/basic.py:1205: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')
/usr/local/lib/python3.7/dist-packages/lightgbm/basic.py:762: UserWarning: categorical_feature in param dict is overridden.
  warnings.warn('categorical_feature in param dict is overridden.')

Training until validation scores don't improve for 30 rounds.
[20]	training's rmse: 2.85462	valid_1's rmse: 2.81841
[40]	training's rmse: 2.521	valid_1's rmse: 2.49659
[60]	training's rmse: 2.37791	valid_1's rmse: 2.36147
[80]	training's rmse: 2.31674	valid_1's rmse: 2.30468
[100]	training's rmse: 2.2875	valid_1's rmse: 2.27897
[120]	training's rmse: 2.27283	valid_1's rmse: 2.26678
[140]	training's rmse: 2.26267	valid_1's rmse: 2.25892
[160]	training's rmse: 2.25511	valid_1's rmse: 2.25286
[180]	training's rmse: 2.24775	valid_1's rmse: 2.24686
[200]	training's rmse: 2.24215	valid_1's rmse: 2.24271
[220]	training's rmse: 2.23608	valid_1's rmse: 2.23803
[240]	training's rmse: 2.23185	valid_1's rmse: 2.23459
[260]	training's rmse: 2.22581	valid_1's rmse: 2.22988
[280]	training's rmse: 2.2196	valid_1's rmse: 2.22435
[300]	training's rmse: 2.21458	valid_1's rmse: 2.22005
[320]	training's rmse: 2.21072	valid_1's rmse: 2.21675
[340]	training's rmse: 2.20828	valid_1's rmse: 2.21494
[360]	training's rmse: 2.20401	valid_1's rmse: 2.21139
[380]	training's rmse: 2.2003	valid_1's rmse: 2.20806
[400]	training's rmse: 2.19665	valid_1's rmse: 2.20509
[420]	training's rmse: 2.19493	valid_1's rmse: 2.20434
[440]	training's rmse: 2.19151	valid_1's rmse: 2.2019
[460]	training's rmse: 2.18853	valid_1's rmse: 2.19953
[480]	training's rmse: 2.18684	valid_1's rmse: 2.19823
[500]	training's rmse: 2.18459	valid_1's rmse: 2.1962
[520]	training's rmse: 2.18252	valid_1's rmse: 2.19443
[540]	training's rmse: 2.18117	valid_1's rmse: 2.19354
[560]	training's rmse: 2.1792	valid_1's rmse: 2.19189
[580]	training's rmse: 2.17697	valid_1's rmse: 2.19047
[600]	training's rmse: 2.17467	valid_1's rmse: 2.18879
[620]	training's rmse: 2.17349	valid_1's rmse: 2.18798
[640]	training's rmse: 2.17211	valid_1's rmse: 2.18693
[660]	training's rmse: 2.17021	valid_1's rmse: 2.18552
[680]	training's rmse: 2.16837	valid_1's rmse: 2.18416
[700]	training's rmse: 2.16688	valid_1's rmse: 2.18299
[720]	training's rmse: 2.16539	valid_1's rmse: 2.18196
[740]	training's rmse: 2.16366	valid_1's rmse: 2.18066
[760]	training's rmse: 2.16212	valid_1's rmse: 2.17983
[780]	training's rmse: 2.16074	valid_1's rmse: 2.17874
[800]	training's rmse: 2.15926	valid_1's rmse: 2.17759
[820]	training's rmse: 2.15755	valid_1's rmse: 2.17629
[840]	training's rmse: 2.15657	valid_1's rmse: 2.17573
[860]	training's rmse: 2.15461	valid_1's rmse: 2.17434
[880]	training's rmse: 2.15299	valid_1's rmse: 2.17302
[900]	training's rmse: 2.15191	valid_1's rmse: 2.17227
[920]	training's rmse: 2.15073	valid_1's rmse: 2.17168
[940]	training's rmse: 2.1493	valid_1's rmse: 2.17054
[960]	training's rmse: 2.14814	valid_1's rmse: 2.16974
[980]	training's rmse: 2.14682	valid_1's rmse: 2.16872
[1000]	training's rmse: 2.14595	valid_1's rmse: 2.16812
[1020]	training's rmse: 2.14479	valid_1's rmse: 2.16716
[1040]	training's rmse: 2.14405	valid_1's rmse: 2.16661
[1060]	training's rmse: 2.1425	valid_1's rmse: 2.16569
[1080]	training's rmse: 2.14162	valid_1's rmse: 2.16517
[1100]	training's rmse: 2.1408	valid_1's rmse: 2.16457
[1120]	training's rmse: 2.13961	valid_1's rmse: 2.16368
[1140]	training's rmse: 2.13842	valid_1's rmse: 2.16291
[1160]	training's rmse: 2.13694	valid_1's rmse: 2.16194
[1180]	training's rmse: 2.13572	valid_1's rmse: 2.1612
[1200]	training's rmse: 2.13463	valid_1's rmse: 2.1604
[1220]	training's rmse: 2.13332	valid_1's rmse: 2.15942
[1240]	training's rmse: 2.13212	valid_1's rmse: 2.15861
[1260]	training's rmse: 2.13118	valid_1's rmse: 2.15814
[1280]	training's rmse: 2.1301	valid_1's rmse: 2.15746
[1300]	training's rmse: 2.12901	valid_1's rmse: 2.15679
[1320]	training's rmse: 2.12813	valid_1's rmse: 2.15619
[1340]	training's rmse: 2.12724	valid_1's rmse: 2.15558
[1360]	training's rmse: 2.12642	valid_1's rmse: 2.15499
[1380]	training's rmse: 2.12583	valid_1's rmse: 2.15467
[1400]	training's rmse: 2.125	valid_1's rmse: 2.15413
[1420]	training's rmse: 2.12425	valid_1's rmse: 2.15371
[1440]	training's rmse: 2.12296	valid_1's rmse: 2.15283
[1460]	training's rmse: 2.12225	valid_1's rmse: 2.15257
[1480]	training's rmse: 2.12157	valid_1's rmse: 2.15227
[1500]	training's rmse: 2.1206	valid_1's rmse: 2.15163
[1520]	training's rmse: 2.11984	valid_1's rmse: 2.15122
[1540]	training's rmse: 2.11922	valid_1's rmse: 2.15081
[1560]	training's rmse: 2.11796	valid_1's rmse: 2.15007
[1580]	training's rmse: 2.11696	valid_1's rmse: 2.14942
[1600]	training's rmse: 2.11584	valid_1's rmse: 2.14873
[1620]	training's rmse: 2.11518	valid_1's rmse: 2.14838
[1640]	training's rmse: 2.11442	valid_1's rmse: 2.14802
[1660]	training's rmse: 2.11363	valid_1's rmse: 2.14756
[1680]	training's rmse: 2.11302	valid_1's rmse: 2.14712
[1700]	training's rmse: 2.11179	valid_1's rmse: 2.14651
[1720]	training's rmse: 2.11106	valid_1's rmse: 2.14615
[1740]	training's rmse: 2.11039	valid_1's rmse: 2.1458
[1760]	training's rmse: 2.10984	valid_1's rmse: 2.14562
[1780]	training's rmse: 2.10901	valid_1's rmse: 2.14512
[1800]	training's rmse: 2.10827	valid_1's rmse: 2.14479
[1820]	training's rmse: 2.10701	valid_1's rmse: 2.14387
[1840]	training's rmse: 2.10627	valid_1's rmse: 2.14341
[1860]	training's rmse: 2.10588	valid_1's rmse: 2.14326
[1880]	training's rmse: 2.10511	valid_1's rmse: 2.14274
[1900]	training's rmse: 2.10447	valid_1's rmse: 2.14243
[1920]	training's rmse: 2.10385	valid_1's rmse: 2.14203
[1940]	training's rmse: 2.10323	valid_1's rmse: 2.1417
[1960]	training's rmse: 2.10232	valid_1's rmse: 2.14126
[1980]	training's rmse: 2.10178	valid_1's rmse: 2.14096
[2000]	training's rmse: 2.10122	valid_1's rmse: 2.14068
Did not meet early stopping. Best iteration is:
[2000]	training's rmse: 2.10122	valid_1's rmse: 2.14068

    Value                      Feature
0   16228                      item_id
1    1970                    rmean_7_7
2    1867                   rmean_7_28
3    1167                  rmean_28_28
4    1093                     store_id
5    1048                        month
6     895                        lag_7
7     792                   rmean_28_7
8     735                         wday
9     673                      dept_id
10    661                         mday
11    525                         week
12    436                       lag_28
13    290                 event_type_1
14    242                         year
15    156                     state_id
16    138                    group_day
17    129     event_name_1_MemorialDay
18    115  event_name_1_Ramadan starts
19     95  event_name_1_OrthodoxEaster

 67%|██████▋   | 2/3 [2:05:42<1:04:08, 3848.93s/it]

**************************************************

Prediction Number  Started  2
**************************************************
{'objective': 'poisson', 'metric': 'rmse', 'learning_rate': 0.15, 'sub_feature': 0.9, 'sub_row': 0.75, 'bagging_freq': 1, 'lambda_l2': 0.3, 'verbosity': 1, 'num_iterations': 2000, 'num_leaves': 8, 'min_data_in_leaf': 20}

/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:118: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/usr/local/lib/python3.7/dist-packages/lightgbm/basic.py:1205: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')
/usr/local/lib/python3.7/dist-packages/lightgbm/basic.py:762: UserWarning: categorical_feature in param dict is overridden.
  warnings.warn('categorical_feature in param dict is overridden.')

Training until validation scores don't improve for 30 rounds.
[20]	training's rmse: 2.44134	valid_1's rmse: 2.42163
[40]	training's rmse: 2.37427	valid_1's rmse: 2.36044
[60]	training's rmse: 2.34787	valid_1's rmse: 2.33839
[80]	training's rmse: 2.31286	valid_1's rmse: 2.30625
[100]	training's rmse: 2.28658	valid_1's rmse: 2.28291
[120]	training's rmse: 2.27052	valid_1's rmse: 2.26883
[140]	training's rmse: 2.25221	valid_1's rmse: 2.25174
[160]	training's rmse: 2.24704	valid_1's rmse: 2.24742
[180]	training's rmse: 2.2374	valid_1's rmse: 2.23916
[200]	training's rmse: 2.23184	valid_1's rmse: 2.23429
[220]	training's rmse: 2.22346	valid_1's rmse: 2.22681
[240]	training's rmse: 2.2199	valid_1's rmse: 2.22387
[260]	training's rmse: 2.21533	valid_1's rmse: 2.22068
[280]	training's rmse: 2.21232	valid_1's rmse: 2.2182
[300]	training's rmse: 2.20913	valid_1's rmse: 2.21546
[320]	training's rmse: 2.20719	valid_1's rmse: 2.21381
[340]	training's rmse: 2.20389	valid_1's rmse: 2.21171
[360]	training's rmse: 2.20142	valid_1's rmse: 2.20986
[380]	training's rmse: 2.19919	valid_1's rmse: 2.20801
[400]	training's rmse: 2.19547	valid_1's rmse: 2.20584
[420]	training's rmse: 2.19249	valid_1's rmse: 2.20335
[440]	training's rmse: 2.18993	valid_1's rmse: 2.20134
[460]	training's rmse: 2.18754	valid_1's rmse: 2.19945
[480]	training's rmse: 2.18449	valid_1's rmse: 2.19745
[500]	training's rmse: 2.18154	valid_1's rmse: 2.19583
[520]	training's rmse: 2.17896	valid_1's rmse: 2.19373
[540]	training's rmse: 2.17733	valid_1's rmse: 2.19276
[560]	training's rmse: 2.17535	valid_1's rmse: 2.19103
[580]	training's rmse: 2.1729	valid_1's rmse: 2.18935
[600]	training's rmse: 2.17103	valid_1's rmse: 2.188
[620]	training's rmse: 2.16869	valid_1's rmse: 2.18645
[640]	training's rmse: 2.16714	valid_1's rmse: 2.18519
[660]	training's rmse: 2.16538	valid_1's rmse: 2.18378
[680]	training's rmse: 2.16319	valid_1's rmse: 2.18232
[700]	training's rmse: 2.16152	valid_1's rmse: 2.18107
[720]	training's rmse: 2.1605	valid_1's rmse: 2.18017
[740]	training's rmse: 2.15894	valid_1's rmse: 2.17884
[760]	training's rmse: 2.15685	valid_1's rmse: 2.17763
[780]	training's rmse: 2.15469	valid_1's rmse: 2.17602
[800]	training's rmse: 2.15321	valid_1's rmse: 2.17502
[820]	training's rmse: 2.15238	valid_1's rmse: 2.17441
[840]	training's rmse: 2.15101	valid_1's rmse: 2.17358
[860]	training's rmse: 2.14953	valid_1's rmse: 2.17253
[880]	training's rmse: 2.14729	valid_1's rmse: 2.17091
[900]	training's rmse: 2.14529	valid_1's rmse: 2.1694
[920]	training's rmse: 2.14352	valid_1's rmse: 2.16846
[940]	training's rmse: 2.14258	valid_1's rmse: 2.16795
[960]	training's rmse: 2.14085	valid_1's rmse: 2.16651
[980]	training's rmse: 2.13928	valid_1's rmse: 2.1656
[1000]	training's rmse: 2.13837	valid_1's rmse: 2.16503
[1020]	training's rmse: 2.13741	valid_1's rmse: 2.16454
[1040]	training's rmse: 2.13612	valid_1's rmse: 2.16378
[1060]	training's rmse: 2.13407	valid_1's rmse: 2.16241
[1080]	training's rmse: 2.13301	valid_1's rmse: 2.16173
[1100]	training's rmse: 2.13193	valid_1's rmse: 2.16121
[1120]	training's rmse: 2.13115	valid_1's rmse: 2.16073
[1140]	training's rmse: 2.13011	valid_1's rmse: 2.15999
[1160]	training's rmse: 2.12893	valid_1's rmse: 2.15928
[1180]	training's rmse: 2.12767	valid_1's rmse: 2.15874
[1200]	training's rmse: 2.12712	valid_1's rmse: 2.15836
[1220]	training's rmse: 2.12589	valid_1's rmse: 2.1577
[1240]	training's rmse: 2.1254	valid_1's rmse: 2.15744
[1260]	training's rmse: 2.12448	valid_1's rmse: 2.15688
[1280]	training's rmse: 2.12369	valid_1's rmse: 2.15626
[1300]	training's rmse: 2.12256	valid_1's rmse: 2.15549
[1320]	training's rmse: 2.12204	valid_1's rmse: 2.15515
[1340]	training's rmse: 2.1216	valid_1's rmse: 2.15494
[1360]	training's rmse: 2.12023	valid_1's rmse: 2.15421
[1380]	training's rmse: 2.11915	valid_1's rmse: 2.1536
[1400]	training's rmse: 2.11847	valid_1's rmse: 2.15318
[1420]	training's rmse: 2.11776	valid_1's rmse: 2.15285
[1440]	training's rmse: 2.11673	valid_1's rmse: 2.15246
[1460]	training's rmse: 2.11616	valid_1's rmse: 2.15213
[1480]	training's rmse: 2.11531	valid_1's rmse: 2.15187
[1500]	training's rmse: 2.11368	valid_1's rmse: 2.15103
[1520]	training's rmse: 2.11305	valid_1's rmse: 2.15069
[1540]	training's rmse: 2.11229	valid_1's rmse: 2.15024
[1560]	training's rmse: 2.11155	valid_1's rmse: 2.15003
[1580]	training's rmse: 2.11056	valid_1's rmse: 2.14928
[1600]	training's rmse: 2.10958	valid_1's rmse: 2.14857
[1620]	training's rmse: 2.10828	valid_1's rmse: 2.14785
[1640]	training's rmse: 2.10784	valid_1's rmse: 2.1477
[1660]	training's rmse: 2.10691	valid_1's rmse: 2.1473
[1680]	training's rmse: 2.10651	valid_1's rmse: 2.14706
[1700]	training's rmse: 2.10582	valid_1's rmse: 2.14688
[1720]	training's rmse: 2.10525	valid_1's rmse: 2.14664
[1740]	training's rmse: 2.10459	valid_1's rmse: 2.14632
[1760]	training's rmse: 2.10374	valid_1's rmse: 2.14598
[1780]	training's rmse: 2.10321	valid_1's rmse: 2.14562
[1800]	training's rmse: 2.10226	valid_1's rmse: 2.14515
[1820]	training's rmse: 2.10103	valid_1's rmse: 2.14404
[1860]	training's rmse: 2.09999	valid_1's rmse: 2.14366
[1880]	training's rmse: 2.09949	valid_1's rmse: 2.14343
[1900]	training's rmse: 2.09896	valid_1's rmse: 2.14309
[1920]	training's rmse: 2.09867	valid_1's rmse: 2.14298

## Testing Purpose

In [ ]:
# For Prediction Purpose i am using This DataFrame

dt = df_m[df_m['d']>=1871]

In [ ]:
dt.head()

                                     id  item_id  dept_id  ...  week  quarter  mday
23974822  HOBBIES_1_001_CA_1_evaluation        0        0  ...    10        1    13
23974823  HOBBIES_1_001_CA_1_evaluation        0        0  ...    11        1    14
23974824  HOBBIES_1_001_CA_1_evaluation        0        0  ...    11        1    15
23974825  HOBBIES_1_001_CA_1_evaluation        0        0  ...    11        1    16
23974826  HOBBIES_1_001_CA_1_evaluation        0        0  ...    11        1    17

[5 rows x 47 columns]

In [ ]:
dt.shape

(3018510, 47)

In [ ]:
def create_fea(dt):
    
    # Create 2 Lags of 7 Days And 28 Days
    lags = [7, 28]
    lag_cols = [f"lag_{lag}" for lag in lags ]
    for lag, lag_col in zip(lags, lag_cols):
        dt[lag_col] = dt[["id","sales"]].groupby("id")["sales"].shift(lag)
        
    
    # Create 4 Rolling Mean 
    wins = [7, 28]
    for win in wins :
        for lag,lag_col in zip(lags, lag_cols):
            dt[f"rmean_{lag}_{win}"] = dt[["id", lag_col]].groupby("id")[lag_col].transform(lambda x : x.rolling(win).mean())

In [ ]:
# Duration You Want to Predict
h = 28 

# Days For Lag Calculation purpose
max_lags = 70

# First Day Of Prediction
fday = datetime(2016,5, 23) 
fday

datetime.datetime(2016, 5, 23, 0, 0)

In [ ]:
# Predict Sales for 28 Days

for tdelta in range(0, 28):
    day = fday + timedelta(days=tdelta)
    print(day)
    tst = dt[(dt.date >= day - timedelta(days=max_lags)) & (dt.date <= day)]
    create_fea(tst)
    tst = tst.loc[tst.date == day , train_cols]
    te.loc[te.date == day, "sales"] = m_lgb.predict(tst)
    print("Prediction Compltete ",tdelta)
    del(tst)

2016-05-23 00:00:00

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

Prediction Compltete  0
2016-05-24 00:00:00
Prediction Compltete  1
2016-05-25 00:00:00
Prediction Compltete  2
2016-05-26 00:00:00
Prediction Compltete  3
2016-05-27 00:00:00
Prediction Compltete  4
2016-05-28 00:00:00
Prediction Compltete  5
2016-05-29 00:00:00
Prediction Compltete  6
2016-05-30 00:00:00
Prediction Compltete  7
2016-05-31 00:00:00
Prediction Compltete  8
2016-06-01 00:00:00
Prediction Compltete  9
2016-06-02 00:00:00
Prediction Compltete  10
2016-06-03 00:00:00
Prediction Compltete  11
2016-06-04 00:00:00
Prediction Compltete  12
2016-06-05 00:00:00
Prediction Compltete  13
2016-06-06 00:00:00
Prediction Compltete  14
2016-06-07 00:00:00
Prediction Compltete  15
2016-06-08 00:00:00
Prediction Compltete  16
2016-06-09 00:00:00
Prediction Compltete  17
2016-06-10 00:00:00
Prediction Compltete  18
2016-06-11 00:00:00
Prediction Compltete  19
2016-06-12 00:00:00
Prediction Compltete  20
2016-06-13 00:00:00
Prediction Compltete  21
2016-06-14 00:00:00
Prediction Compltete  22
2016-06-15 00:00:00
Prediction Compltete  23
2016-06-16 00:00:00
Prediction Compltete  24
2016-06-17 00:00:00
Prediction Compltete  25
2016-06-18 00:00:00
Prediction Compltete  26
2016-06-19 00:00:00
Prediction Compltete  27

In [ ]:
te.head()

                                     id  item_id  dept_id  ...  week  quarter  mday
23974822  HOBBIES_1_001_CA_1_evaluation        0        0  ...    10        1    13
23974823  HOBBIES_1_001_CA_1_evaluation        0        0  ...    11        1    14
23974824  HOBBIES_1_001_CA_1_evaluation        0        0  ...    11        1    15
23974825  HOBBIES_1_001_CA_1_evaluation        0        0  ...    11        1    16
23974826  HOBBIES_1_001_CA_1_evaluation        0        0  ...    11        1    17

[5 rows x 47 columns]

In [ ]:
# Filter Last 28 Days

x = pd.pivot_table(te, index='id', values='sales', columns='d').iloc[:,-28:]
x

d                                    1942      1943  ...      1968      1969
id                                                   ...
FOODS_1_001_CA_1_evaluation      0.810059  0.717285  ...  0.880371  0.687988
FOODS_1_001_CA_2_evaluation      0.750977  0.710938  ...  1.021484  0.721191
FOODS_1_001_CA_3_evaluation      0.890625  0.825684  ...  1.258789  1.143555
FOODS_1_001_CA_4_evaluation      0.269287  0.267822  ...  0.387939  0.289795
FOODS_1_001_TX_1_evaluation      0.501953  0.616211  ...  0.912598  0.749023
...                                   ...       ...  ...       ...       ...
HOUSEHOLD_2_516_TX_2_evaluation  0.202637  0.184570  ...  0.207031  0.203125
HOUSEHOLD_2_516_TX_3_evaluation  0.173462  0.158936  ...  0.242065  0.253906
HOUSEHOLD_2_516_WI_1_evaluation  0.117126  0.108398  ...  0.185059  0.150513
HOUSEHOLD_2_516_WI_2_evaluation  0.122437  0.112244  ...  0.130859  0.110901
HOUSEHOLD_2_516_WI_3_evaluation  0.105896  0.101257  ...  0.123230  0.107422

[30490 rows x 28 columns]

In [ ]:
x.to_csv("sub.csv",index='False')

In [ ]:

a1 = pd.read_csv("sub.csv")
a1

                                    id     1942  ...    1968    1969
0          FOODS_1_001_CA_1_evaluation  0.84860  ...  0.9507  0.8530
1          FOODS_1_001_CA_2_evaluation  0.76660  ...  0.9976  0.8410
2          FOODS_1_001_CA_3_evaluation  0.81050  ...  1.2850  1.1650
3          FOODS_1_001_CA_4_evaluation  0.26560  ...  0.3584  0.3171
4          FOODS_1_001_TX_1_evaluation  0.47880  ...  0.9110  0.8440
...                                ...      ...  ...     ...     ...
30485  HOUSEHOLD_2_516_TX_2_evaluation  0.20750  ...  0.2108  0.2045
30486  HOUSEHOLD_2_516_TX_3_evaluation  0.17880  ...  0.2854  0.2722
30487  HOUSEHOLD_2_516_WI_1_evaluation  0.12220  ...  0.2150  0.1823
30488  HOUSEHOLD_2_516_WI_2_evaluation  0.12260  ...  0.1632  0.1283
30489  HOUSEHOLD_2_516_WI_3_evaluation  0.11237  ...  0.1383  0.1288

[30490 rows x 29 columns]

In [79]:
sub = pd.read_csv('sample_submission.csv', usecols=['id'])
sub

                                  id
0      HOBBIES_1_001_CA_1_validation
1      HOBBIES_1_002_CA_1_validation
2      HOBBIES_1_003_CA_1_validation
3      HOBBIES_1_004_CA_1_validation
4      HOBBIES_1_005_CA_1_validation
...                              ...
60975    FOODS_3_823_WI_3_evaluation
60976    FOODS_3_824_WI_3_evaluation
60977    FOODS_3_825_WI_3_evaluation
60978    FOODS_3_826_WI_3_evaluation
60979    FOODS_3_827_WI_3_evaluation

[60980 rows x 1 columns]

In [ ]:
sub = sub.merge(a1, on='id', how='left')
sub

                                  id    1942    1943  ...    1967    1968    1969
0      HOBBIES_1_001_CA_1_validation     NaN     NaN  ...     NaN     NaN     NaN
1      HOBBIES_1_002_CA_1_validation     NaN     NaN  ...     NaN     NaN     NaN
2      HOBBIES_1_003_CA_1_validation     NaN     NaN  ...     NaN     NaN     NaN
3      HOBBIES_1_004_CA_1_validation     NaN     NaN  ...     NaN     NaN     NaN
4      HOBBIES_1_005_CA_1_validation     NaN     NaN  ...     NaN     NaN     NaN
...                              ...     ...     ...  ...     ...     ...     ...
60975    FOODS_3_823_WI_3_evaluation  0.5010  0.5205  ...  0.6577  0.7954  0.6220
60976    FOODS_3_824_WI_3_evaluation  0.2323  0.2384  ...  0.2576  0.3145  0.2576
60977    FOODS_3_825_WI_3_evaluation  0.8228  0.6220  ...  0.7300  0.9194  0.8813
60978    FOODS_3_826_WI_3_evaluation  1.1470  1.2930  ...  1.2670  1.5760  1.3770
60979    FOODS_3_827_WI_3_evaluation  1.3790  1.1210  ...  1.3650  1.8180  1.5700

[60980 rows x 29 columns]

In [ ]:
sub = sub.dropna()
sub

                                  id    1942    1943  ...    1967    1968    1969
30490  HOBBIES_1_001_CA_1_evaluation  0.9010  0.8433  ...  1.0600  1.2530  1.0800
30491  HOBBIES_1_002_CA_1_evaluation  0.2512  0.2673  ...  0.2986  0.3608  0.3022
30492  HOBBIES_1_003_CA_1_evaluation  0.4856  0.4438  ...  0.6330  0.7534  0.7495
30493  HOBBIES_1_004_CA_1_evaluation  1.8310  1.5380  ...  1.9450  2.4510  2.3600
30494  HOBBIES_1_005_CA_1_evaluation  1.4600  1.3020  ...  1.2940  1.6160  1.3660
...                              ...     ...     ...  ...     ...     ...     ...
60975    FOODS_3_823_WI_3_evaluation  0.4850  0.5100  ...  0.6080  0.7393  0.5890
60976    FOODS_3_824_WI_3_evaluation  0.2524  0.2502  ...  0.2384  0.2908  0.2433
60977    FOODS_3_825_WI_3_evaluation  0.8340  0.6410  ...  0.7124  0.8490  0.7935
60978    FOODS_3_826_WI_3_evaluation  1.0780  1.1870  ...  1.2040  1.5100  1.3620
60979    FOODS_3_827_WI_3_evaluation  1.1240  1.0080  ...  1.3700  1.6740  1.5240

[30490 rows x 29 columns]

In [ ]:
sub2 = sub.copy()

In [ ]:
sub2["id"] = sub2["id"].str.replace("evaluation$", "validation")
sub2

                                  id    1942    1943  ...    1967    1968    1969
30490  HOBBIES_1_001_CA_1_validation  0.8920  0.8190  ...  0.9610  1.1780  1.0510
30491  HOBBIES_1_002_CA_1_validation  0.2659  0.2737  ...  0.3193  0.3738  0.3410
30492  HOBBIES_1_003_CA_1_validation  0.4868  0.4275  ...  0.5390  0.6850  0.6070
30493  HOBBIES_1_004_CA_1_validation  1.9570  1.5020  ...  1.9760  2.5490  2.3900
30494  HOBBIES_1_005_CA_1_validation  1.4730  1.2610  ...  1.3210  1.7260  1.4280
...                              ...     ...     ...  ...     ...     ...     ...
60975    FOODS_3_823_WI_3_validation  0.5010  0.5205  ...  0.6577  0.7954  0.6220
60976    FOODS_3_824_WI_3_validation  0.2323  0.2384  ...  0.2576  0.3145  0.2576
60977    FOODS_3_825_WI_3_validation  0.8228  0.6220  ...  0.7300  0.9194  0.8813
60978    FOODS_3_826_WI_3_validation  1.1470  1.2930  ...  1.2670  1.5760  1.3770
60979    FOODS_3_827_WI_3_validation  1.3790  1.1210  ...  1.3650  1.8180  1.5700

[30490 rows x 29 columns]

In [ ]:
sub3 = pd.concat([sub2, sub], axis=0, sort=False)
sub3

                                  id    1942    1943  ...    1967    1968    1969
30490  HOBBIES_1_001_CA_1_validation  0.8920  0.8190  ...  0.9610  1.1780  1.0510
30491  HOBBIES_1_002_CA_1_validation  0.2659  0.2737  ...  0.3193  0.3738  0.3410
30492  HOBBIES_1_003_CA_1_validation  0.4868  0.4275  ...  0.5390  0.6850  0.6070
30493  HOBBIES_1_004_CA_1_validation  1.9570  1.5020  ...  1.9760  2.5490  2.3900
30494  HOBBIES_1_005_CA_1_validation  1.4730  1.2610  ...  1.3210  1.7260  1.4280
...                              ...     ...     ...  ...     ...     ...     ...
60975    FOODS_3_823_WI_3_evaluation  0.5010  0.5205  ...  0.6577  0.7954  0.6220
60976    FOODS_3_824_WI_3_evaluation  0.2323  0.2384  ...  0.2576  0.3145  0.2576
60977    FOODS_3_825_WI_3_evaluation  0.8228  0.6220  ...  0.7300  0.9194  0.8813
60978    FOODS_3_826_WI_3_evaluation  1.1470  1.2930  ...  1.2670  1.5760  1.3770
60979    FOODS_3_827_WI_3_evaluation  1.3790  1.1210  ...  1.3650  1.8180  1.5700

[60980 rows x 29 columns]

In [ ]:
sub3.columns = ['id'] + ['F' + str(c) for c in np.arange(1,29,1)]

In [ ]:

sub3.to_csv("Kaggke_LGBM_3r_March.csv",index=False)

![image.png]()

![image.png]()

In [ ]:
# Got Rank Under 33.With Very Simple Approch in private LedgerBoard.

In [3]:
from prettytable import PrettyTable
t = PrettyTable(['Model_Number','Model_Name', 'Private Wrrmse Score','Public Wrrmse Score'])
t.add_row(['1', 'Base_Model',0.94398,1.00592])
t.add_row(['2', 'Random Forest Regressor',0.87519 ,0.78390])
t.add_row(['3','Extra Tree Regressor', .90082 ,0.81665])
t.add_row(['4', 'Lgbm',.56459 ,.69091])
print(t)

+--------------+-------------------------+----------------------+---------------------+
| Model_Number |        Model_Name       | Private Wrrmse Score | Public Wrrmse Score |
+--------------+-------------------------+----------------------+---------------------+
|      1       |        Base_Model       |       0.94398        |       1.00592       |
|      2       | Random Forest Regressor |       0.87519        |        0.7839       |
|      3       |   Extra Tree Regressor  |       0.90082        |       0.81665       |
|      4       |           Lgbm          |       0.56459        |       0.69091       |
+--------------+-------------------------+----------------------+---------------------+